@keyframes cloud {
0%{
    transform: translateX(0);
}
100%{
    transform: translateX(-300%);
}
}
/*纸飞机*/
@keyframes flight {
0%{
    transform: translateY(0);
}
    100%{
        transform: translateY(-10px);
    }
}
@keyframes ship {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(10px);
    }
}
@keyframes arrow {
    0%{
        transform: translateY(0);
       background-image: url("../img/arrow.png");
    }

    100%{
        transform: translateY(-10px);
        background-image: url("../img/arrow2.png");
    }
}
@keyframes til {
    0%{

        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}
@keyframes sectionL {
0%{
    transform: translateX(-10px);
}
    100%{
        transform: translateX(10px);
    }
}
@keyframes sectionR {
0%{
    transform: translateX(10px);
}
    100%{
        transform: translateX(0);
    }
}